{% extends 'base.html' %}
{% load static %}

{% block title %}
    Підписка
{% endblock %}

{%  block link %}
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'subscribe/css/subscribe.css' %}">
{% endblock %}
{% block content %}
    <div class = "screen">
        <div class = "hat">
            <h1 class = "subscribe-text">Підписка</h1>
            <div class = "urls">
                <div class = "mainUrl">
                    <a href = "{% url 'home_app' %}" class = "mainPage">Головна</a>
                </div>
                {% if request.user.is_authenticated %}

                    <a href="{% url 'my_codes' %}" class = "MyQRCodesPage" >Мої QR-коди</a>
                    <a href = "{% url 'logout' %}"class = "logout-button">Вийти з акаунту</a>
                {% else %}
                    <a href="/codes/my_codes/" class = "" >Мої QR-коди</a>    
                    <a href="{% url 'registration1' %}" class = "registrationPage">Реєстрація</a>
                    <a href="{% url 'authorithation1' %}"class = "authorizationPage">Авторизація</a>
                    
                {% endif %}
                <h1 class = "user-h1">{{request.user.username}}</h1>
            </div>
        </div>
        {% if message %}
            <div class = "bg"></div>
            <div class="form-qr">

                <div class="qr-objects">
                    <img src="{% static 'images/close.png'%}" class = "close-button" alt="">
                    <h1 class = "h1-vitannya">Вітаємо!</h1>
                    <h1 class = "subscribe-type">{{message}}</h1>
                    <a class = "url-home" href="{% url 'home_app'%}">На головну</a>
                </div>
            </div>
        {% endif %}
        <form method="post" class = "subscribe-form">
            {% csrf_token%}
            <div class = "form"> 
                    <h1 class = "subscribe-buy">Оформлення підписки</h1>    

                    <div class = "form-inputs">

                        <div class = "input-number">
                            <h1 class = "number-text">Номер платіжної карти</h1>
                            <input  class = "number-input" name = "card" type="text">
                            <h1 class = "number-clue">Наприклад: 1234 5678 9012 3456</h1>
                        </div>

                        <div class = "input-cvv">
                            <h1 class = "cvv-text">CVV/CVC код</h1>
                            <input class = "cvv-input" name = "cvv" type="password">
                            <h1 class = "cvv-clue">Наприклад: 123</h1>
                        </div>
                        <div class = "input-expiration">
                            <h1 class = "expiration-text">Термін придатності</h1>
                            <input class = "expiration-input" name = "date" type="month">
                            <h1 class = "expiration-clue">Наприклад: 12/24</h1>
                        </div>
                        {% if subscribe_desktop%}
                            <div class = "count-input">
                                <h1 class = "count-qrs">Кількість QR-кодів</h1>
                                <select name="count" class = "input-count">
                                    <option value="5">5 QR-кодів(0.5$)</option>
                                    <option value="10">10 QR-кодів(1$)</option>
                                    <option value="20">20 QR-кодів(2$)</option>
                                </select>
                            </div>
                        {% endif %}
                    </div>
                    <div class = "subscribe-button" >
                        <button class = "button" id = "button" type="submit">Оформити підписку</button>
                    </div>
            </div>
        </form>
        <div class = "contacts" style="padding-top: 25px;">
            <div class = "allIcons">
                <img class = "imageTelegram" src="{% static 'images/telegramIcon.png' %}" alt="">
                <img class = "imageViber" src="{% static 'images/viberIcon.png' %}" alt="">
                <img class = "imageCall" src="{% static 'images/callIcon.png' %}" alt="">
            </div>
        </div>
    </div>
    <script src = "{% static 'subscribe/js/subscribe.js'%}"></script>
{% endblock %}