*{
    font-family: 'Jost', sans-serif;
    margin: 0px;
    padding: 0px;

}

.Screen{
    height: 100%;
    width: 100%;
    background-image: url('/../static/images/bgForGenerate.png');
    background-color: #EDF4FC;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 95px;
}


.hat{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    gap: 180px;
}
.h1Generate{
    width: 390px;
    font-size: 64px;
    line-height: 70px;
    padding-left: 200px;
    padding-top: 50px;
}
.spanQR{
    color: #FF9334;
}
.urls{
    width: 700px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}
a{
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.MyQRCodesPage{
    display: flex;
    flex-direction: row;
    width: 148px;
    height: 39px;
    background-color: rgba(255, 147, 52, 0.62);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}
.mainPage{
    color: black;
    opacity: 100%;
}
.spanQR{
    color: #FF9334;
}



/* Посилання в шапці */

.main{
    width: 86px;
    height: 39px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;

    text-decoration: none;


    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.name{
    width: 40px;
    height: 39px;

    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;

    text-decoration: none;


    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.mycodes-frame{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 9px;
    gap: 10px;

    width: 148px;
    height: 38px;

    background: rgba(255, 147, 52, 0.62);
    border: 1px solid #000000;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.my-codes{
    width: 130px;
    height: 20px;

    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    color: #000000;

    text-decoration: none;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.exit-account{
    width: 163px;
    height: 39px;

    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;

    text-decoration: none;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

/* Форми для створення коду */

.main-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
    width: 100%;
    height: 286px;
    gap: 300px;
}

.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    margin-left: 180px;
    gap: 29px;



    width: 451px;
    height: 292px;

    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 30px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 191px;
    height: 70px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.qr-name{
    width: 191px;
    height: 29px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    color: rgba(0, 0, 0, 0.5);
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.qr-name-example{
    box-sizing: border-box;

    width: 191px;
    height: 34px;
    
    background: #F9FBFE;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.qr-under{
    width: 191px;
    height: 7px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    
    color: rgba(0, 0, 0, 0.21);
    
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.size-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 191px;
    height: 63px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.size{
    width: 191px;
    height: 29px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    color: rgba(0, 0, 0, 0.5);
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.size-example{
    box-sizing: border-box;

    width: 191px;
    height: 34px;
    
    background: #F9FBFE;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.url-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 411px;
    height: 70px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.url{
    width: 411px;
    height: 29px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.5);


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.url-example{
    box-sizing: border-box;

    width: 411px;
    height: 34px;
    
    background: #F9FBFE;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.url-example-text{
    width: 411px;
    height: 7px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: rgba(0, 0, 0, 0.21);


    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.cr-qr-form{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 9px;
    gap: 40px;

    width: 236px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 15px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.create-qr{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 9px;
    gap: 40px;

    width: 236px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 15px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: #57EE7F;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contacts{
    width: 100%;
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.allIcons{
    width: 212px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 46px;
    padding-left: 40px;
    padding-top: 27px;
}

.imageTelegram{
    width: 40px;
    height: 40px;

}

.qr-code{
    width: 300px;
    height: 300px;
}