{% extends 'base.html'%}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'registration3/registration3.css' %}">
{% endblock %}
{% block content %}
    <div class = "Screen">
        <div class = "hat"; style="height: 136px; ">
            <h1 class = "h1Generate">Реєстрація</h1>
            <div class = "urls">
                <div class = "mainUrl">
                    <a href = "" class = "mainPage">Головна</a>
                </div>
                <a href="/"class = "name">Ім'я</a>
                <a href="qrgenerate/" class = "MyQRCodesPage" >Реєстрація</a>
                <a href="" class = "Exit-acaunt">Вийти з акаунту</a>
            </div>
        </div>
        <div class="registration-form">
            <div class="registration-frame">
                <div class="steps">
                    <div class="step-1">
                        <div class="step-1-frame">
                        </div>
                    </div>
                    <div class="line-1"></div>
                    <div class="step-2">
                        <div class="step-2-frame">
                        </div>
                    </div>
                    <div class="line-2"></div>
                    <div class="step-3">
                        <div class="step-3-frame">
                            <h3 class="step-3-text">3</h3>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/succesregistration.png' %}" alt="">
                <form method = "POST">
                    <div class = "frame-succes">
                        <h1 class = 'h1'>Вітаємо! <br>Ви успішно зареєструвалися!</h1>
                    </div>

                    <button class="under-button-frame" type="submit">
                        <a class="text-button" href="/project/authorithation-2/authorithation.html">На головну</a>
                    </button>
                </form>
            </div>
        </div>
        <div class = "contacts">
            <div class = "allIcons">
                <img class = "imageTelegram" src="{% static 'images/telegramIcon.png' %}" alt="">
                <img class = "imageViber" src="{% static 'images/viberIcon.png' %}" alt="">
                <img class = "imageCall" src="{% static 'images/callIcon.png' %}" alt="">
            </div>
        </div>
    </div>
{% endblock %}