{% extends 'base.html' %}
{% load static %}

{% block title %}
    Перевірка підписки
{% endblock %}
{% block link %}
    
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class = "error-redirect">{{error}}</h1>
{% endblock %}
