*{
    font-family: 'Jost', sans-serif;
    margin: 0px;
    padding: 0px;

}

.Screen{
    height: 100%;
    width: 100%;
    background-image: url('/../static/images/bgForGenerate.png');
    background-color: #EDF4FC;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.hat{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 200px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.h1Generate{
    width: 390px;
    font-size: 64px;
    line-height: 70px;
    padding-left: 200px;
    padding-top: 50px;
}
.spanQR{
    color: #FF9334;
}
.urls{
    width: 700px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
}
.autorithation{
    margin-left: -14px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    color: black;
    font-size: 20px;
}
.MyQRCodesPage{
    display: flex;
    flex-direction: row;
    width: 148px;
    height: 39px;
    background-color: rgba(255, 147, 52, 0.62);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    font-weight: bold;
    margin-left: -14px;
}
.mainPage{
    color: black;
    opacity: 100%;
}
.spanQR{
    color: #FF9334;
}
.my-codes{
    margin-left: 31px;
}
/* Форма авторизації */

.registration-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 528px;
}

.registration-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    
    width: 418px;
    height: 492px;
    
    background: rgba(255, 255, 255, 0.66);
    border-radius: 30px;

}

.frame-succes{
    width: 382px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.h1{
    width: 208px;
    height: 42px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0,2)
}


.under-button-frame{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 64px;
    gap: 10px;
    width: 287px;
    height: 57px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin-left: 45px;
    height: 22px;
    margin-top: 75px;
    font-family: 'Jost';
    font-weight: bold;
    font-size: 30px;
    line-height: 22px;
    color: #6CE18B;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.under-button-frame:hover{
    cursor: pointer;
    background-color: #c4c4c428;
    color: #53a96a;
}
.text-button{
    height: 22px;
    
    font-family: 'Jost';
    font-weight: bold;
    font-size: 30px;
    line-height: 22px;
    color: #6CE18B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contacts{
    width: 100%;
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.allIcons{
    width: 212px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 46px;
    padding-left: 40px;
    padding-top: 27px;
}

.imageTelegram{
    width: 40px;
    height: 40px;

}

.image-icon{
    padding-top: 100px;
}