{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'my_codes_app/my_codes.css' %}">
{% endblock %}

{% block title %}
    Мої QR-коди
{% endblock %}



{% block content %}
    <div class = "Screen">
        <div class = "hat"; style="height: 136px; ">
            <h1 class = "h1Generate">Мої <span class = "spanQR">QR</span>-коди</h1>
            <div class = "urls">
                <div class = "mainUrl">
                    <a href = "{% url 'home_app' %}" class = "mainPage">Головна</a>
                </div>
                {% if request.user.is_authenticated %}
                    <h1 class = "user-h1">{{request.user.username}}</h1>
                    <a href="{% url 'my_codes' %}" class = "MyQRCodesPage" >Мої QR-коди</a>
                    <a href = "{% url 'logout' %}"class = "logout-button">Вийти з акаунту</a>

                {% else %}
                    <a href="{% url 'registration1' %}" class = "registrationPage">Реєстрація</a>
                    <a href="{% url 'authorithation1' %}"class = "authorizationPage">Авторизація</a>
                    <a href="/codes/my_codes/" class = "MyQRCodesPage" >Мої QR-коди</a>
                {% endif %}
            </div>
        </div>
        <main>
            <div class="codes">
                
            </div>
            <div class = "contacts" style="padding-top: 29px;">
                <div class = "allIcons">
                    <img class = "imageTelegram" src="{% static 'images/telegramIcon.png' %}" alt="">
                    <img class = "imageViber" src="{% static 'images/viberIcon.png' %}" alt="">
                    <img class = "imageCall" src="{% static 'images/callIcon.png' %}" alt="">
                </div>
            </div>
        </main>
    </div>
{% endblock %}